<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/iss</property>
    <property name="connection.username">root</property>
    <property name="connection.password">goldmann</property>
    <property name="show_sql">true</property>


    <!-- Hibernate will only validate if our DB schema match our java model (all entities in model package)
        if not match, app won't load/run
         DB is created/updated by flyway migrations -->
    <property name="hbm2ddl.auto">validate</property>

    <mapping class="com.sda.goldmann.iss.dto.PositionMeasure" />
    <mapping class="com.sda.goldmann.iss.dto.IssSpeed" />
    <mapping class="com.sda.goldmann.iss.dto.PersonMeasure" />
    <mapping class="com.sda.goldmann.iss.dto.PersonDTO" />
    <mapping class="com.sda.goldmann.iss.dto.PersonInMeasurement" />
    <mapping class="com.sda.goldmann.iss.dto.Craft" />

  </session-factory>
</hibernate-configuration>


